# Персональные настройки окружения
/.env.local
/.env.local.php
/.env.*.local
/.env.production

# Зависимости и временные файлы Symfony
/vendor/
/var/
/public/bundles/
/config/reference.php

# Закрытый ключ Symfony Secrets
/config/secrets/prod/prod.decrypt.private.php

# Локальные файлы PHPUnit
/.phpunit.cache/
/.phpunit.result.cache
/phpunit.xml

# Локальные базы данных приложения
/data/*.sqlite

# Настройки IDE
/.idea/

# Системные файлы
.DS_Store
Thumbs.db
